@model ASP_NET_Opdracht1.Models.Verhuur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Verhuur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LidId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LidId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UitleenDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UitleenDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerugDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerugDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotaalPrijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotaalPrijs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VerhuurId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
